name: publish

on:
  push:
    tags:
      - "*"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Use Node.js ${{ matrix.node-version }}

        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: "https://registry.npmjs.org"
          cache: npm

      - id: dist-tag
        uses: actions/github-script@v8
        with:
          result-encoding: string
          script: |
            return /^refs\/tags\/v\d+\.\d+\.\d+$/.test(context.ref) ? "latest" : "next"

      - name: Update npm
        run: npm install -g npm@latest

      - name: npm publish
        run: |
          npm ci
          npm run bootstrap
          npm publish --access=public --tag ${{ steps.dist-tag.outputs.result }} --workspace="packages/prisma-fabbrica"
        if: contains(github.ref, 'tags/v')
        env:
          NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
          CI: true
